<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yourhealthyourrules"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.yourhealthyourrules.Feedback" >
            
        </activity>
        <activity android:name="com.example.yourhealthyourrules.Winners" >
            
        </activity>
        
        
        <activity android:name="com.example.yourhealthyourrules.List" >
            
        </activity>
        
        <activity android:name="com.example.yourhealthyourrules.Item" >
            
        </activity>
        
        <activity android:name="com.example.yourhealthyourrules.Message" >
            
        </activity>
        <activity
            android:name="com.example.yourhealthyourrules.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>